input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}
.navbar-color{
	background-color: #0c2738;
	background-image: url("https://static.independent.co.uk/2021/08/12/17/GettyImages-1332716814.jpg?width=982&height=726&auto=webp&quality=75");
}
.footer-color{
	background-image: url("https://static.independent.co.uk/2021/08/12/17/GettyImages-1332716814.jpg?width=982&height=726&auto=webp&quality=75");
}
.section-signin-color{
	background-image: url("https://static.independent.co.uk/2021/08/12/17/GettyImages-1332716814.jpg?width=982&height=726&auto=webp&quality=75");
}
.navbar-text-color{
	color:#899ead;
}
.btn-color{
	background-color: #e50914;
}
.section-color{
	background-color: #254050;
}
  