@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital@1&display=swap');
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}
.navbar-color{
	background-color: #0c2738;
}
.navbar-text-color{
	color:#899ead;
}
.btn-color{
	background-color: #e50914;
}
.section-color{
	background-color: #081b27;
}
  