@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital@1&display=swap');
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}
.navbar-color{
	background-color: #0c2738;
}
.navbar-text-color{
	color:#899ead;
}
.btn-color{
	background-color: #e50914;
}
.section-color{
	background-color: #081b27;
}

#title {
	text-align: center;
	font-family: arial, sans-serif;
  }
  
  #movies {
	text-align: center;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	border-collapse: collapse;
	border: 3px solid #ddd;
	width: 100%;
  }
  
  #movies td, #movies th {
	border: 1px solid #ddd;
	padding: 8px;
  }
  
  #movies tr:nth-child(even){background-color: #f2f2f2;}
  
  #movies tr:hover {background-color: #ddd;}
  
  #movies th {
	padding-top: 12px;
	padding-bottom: 12px;
	text-align: center;
	background-color: #4CAF50;
	color: white;
  }
  
  